/* src/App.css */
.App {
  text-align: center;
  padding: 20px;
}

.chart-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.chart {
  width: 30%;
  min-width: 250px;
  margin: 20px;
}
